<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{137,175}</string>
                <key>spriteSourceSize</key>
                <string>{137,175}</string>
                <key>textureRect</key>
                <string>{{497,57},{137,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canvas_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,31}</string>
                <key>spriteSourceSize</key>
                <string>{35,31}</string>
                <key>textureRect</key>
                <string>{{262,130},{35,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canvas_bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,35}</string>
                <key>spriteSourceSize</key>
                <string>{37,35}</string>
                <key>textureRect</key>
                <string>{{446,95},{37,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canvas_bg_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,35}</string>
                <key>spriteSourceSize</key>
                <string>{35,35}</string>
                <key>textureRect</key>
                <string>{{446,134},{35,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>canvas_bg_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,28}</string>
                <key>spriteSourceSize</key>
                <string>{32,28}</string>
                <key>textureRect</key>
                <string>{{336,130},{32,28}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>canvas_bg_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{42,39}</string>
                <key>spriteSourceSize</key>
                <string>{42,39}</string>
                <key>textureRect</key>
                <string>{{405,95},{42,39}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fight_bg_top.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,96}</string>
                <key>spriteSourceSize</key>
                <string>{84,96}</string>
                <key>textureRect</key>
                <string>{{176,91},{84,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guanka_img_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{35,29}</string>
                <key>spriteSourceSize</key>
                <string>{35,29}</string>
                <key>textureRect</key>
                <string>{{299,130},{35,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>guide_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{99,173}</string>
                <key>spriteSourceSize</key>
                <string>{99,173}</string>
                <key>textureRect</key>
                <string>{{1,91},{99,173}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>guide_mask.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{33,141}</string>
                <key>spriteSourceSize</key>
                <string>{33,141}</string>
                <key>textureRect</key>
                <string>{{262,95},{33,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>tip_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{233,36}</string>
                <key>spriteSourceSize</key>
                <string>{233,36}</string>
                <key>textureRect</key>
                <string>{{262,57},{233,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{701,54}</string>
                <key>spriteSourceSize</key>
                <string>{701,54}</string>
                <key>textureRect</key>
                <string>{{1,1},{701,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>title_bg2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{259,32}</string>
                <key>spriteSourceSize</key>
                <string>{259,32}</string>
                <key>textureRect</key>
                <string>{{1,57},{259,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_grid.png</string>
            <key>size</key>
            <string>{703,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c7427aa90ffe5f2a66cbcd757f054b64:317dc746cfaa2dcff05d6c6ae4183d2e:a3076e1727bd177a75351be24ef966dd$</string>
            <key>textureFileName</key>
            <string>ui_grid.png</string>
        </dict>
    </dict>
</plist>
