<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ksyx_btn_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{162,72}</string>
                <key>textureRect</key>
                <string>{{460,67},{162,72}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ksyx_btn_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,72}</string>
                <key>spriteSourceSize</key>
                <string>{162,72}</string>
                <key>textureRect</key>
                <string>{{460,141},{162,72}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>loading_jz.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{688,27}</string>
                <key>spriteSourceSize</key>
                <string>{688,27}</string>
                <key>textureRect</key>
                <string>{{1,38},{688,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_jz_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,35}</string>
                <key>spriteSourceSize</key>
                <string>{694,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{694,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loading_logo.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,0}</string>
                <key>spriteSize</key>
                <string>{457,276}</string>
                <key>spriteSourceSize</key>
                <string>{473,276}</string>
                <key>textureRect</key>
                <string>{{1,67},{457,276}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_loading.png</string>
            <key>size</key>
            <string>{696,344}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b445381625f6e45593065cd90174ab17:04d9516825b1df4facbf8aca56b2de20:81894c0f7063ac2e0e8946fe6d19566d$</string>
            <key>textureFileName</key>
            <string>ui_loading.png</string>
        </dict>
    </dict>
</plist>
